/*font-family*/

p {
	font-family: "Arial";
}

h1 {
	font-family: "Georgia";
}

/*font-size*/

/*There are many units which can be used to specify font-size
Two of these are px and em.

While px is absolute size, em is dynamic in nature and changes with
respect to the size of its parent*/

body {
	font-size: 10px;
}

h1 {
	font-size: 5.0em;
}

p {
	font-size: 2.0em;
}

/*By default 1 em = 16 px*/
span {
	font-size: 2.0em;
}

/*font-weight*/

p {
	/*by default the value of font-weight: normal;*/

	/*Some fonts will allow us to use a numeric value to specify the font-weight: 
	This value ranges from 100 to 800 in steps of 100*/
	font-weight: bold;
}

/*line-weight*/

/*controls the height of lines within a certain element*/

p {

	/*line-height: x will make the height between the lines of the specified element x times its original value*/
	line-height: 1.5;
}


/*text-align*/

/*controls how the text of a given element is aligned -left, right or center*/

h1 {
	text-align: center;
}

p {
	text-align: center;
}

/*text-decoration*/

/*This property is used to give the text and underline/overline effect of a strike-through effect*/

h1 {
	text-decoration: underline;
}